<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MB Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let p of pages; let i = index;">
        <a class="nav-link" [routerLink]=[p.link]>
          {{p.name}}
        </a>
      </li>
    </ul>
    <mbs-cart-dropdown></mbs-cart-dropdown>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid low-opacity">
  <div class="container-fluid text-center">
    <h1>MB STORE</h1>
    <strong>Solution e-commerce Angular & ASP .NET CORE 2</strong>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="low-opacity">
  <div class="container-fluid text-center global-padding" style="background:#343a40; color:white;">
    <div class="row">
      <div class="col-sm-3 offset-sm-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate nunc rutrum maximus fringilla.
        Sed nec nunc scelerisque, facilisis purus vel, scelerisque lacus.
      </div>
      <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate nunc rutrum maximus fringilla.
        Sed nec nunc scelerisque, facilisis purus vel, scelerisque lacus.
      </div>
      <div class="col-sm-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate nunc rutrum maximus fringilla.
        Sed nec nunc scelerisque, facilisis purus vel, scelerisque lacus.
      </div>
    </div>
    <div class="row global-padding">
      <div class="col-sm-12 text-center">
        <small class="text-center">Copyright &copy; MB Store</small>
      </div>
    </div>
  </div>
</footer>