<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle float-right"
          aria-controls="dropdown-basic">
    Panier ({{currentCart.cartItems.length}}) &nbsp;<span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <li role="menuitem" *ngFor="let cartItem of currentCart.cartItems; let i=index;">Cart item {{i}} - {{cartItem.subtotal | currency}}</li>
  </ul>
</div>
