<div class="btn-group ml-auto mr-1" dropdown *ngIf="currentCart != null">
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic">
    Panier ({{currentCart.cartItems.length}}) &nbsp;<span class="caret"></span>
  </button>
  <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
    <ul class="list-group">
      <li role="menuitem" *ngFor="let cartItem of currentCart.cartItems; let i=index;" class="list-group-item">
        {{cartItem.name}} - {{cartItem.subtotal | currency}}
        <button class="btn btn-danger float-right" (click)="deleteFromCart(i)">Supprimer</button>
      </li>
    </ul>
  </div>
</div>
